@import url('../../assets/css/myStyle.less');

#yMainContent {
    max-width: 1198px;
    margin: 0 auto;

    .yMain-dataList {
        display: flex;
        flex-wrap: wrap;
        min-height: 1200px;
        background-color: #bdfafd8f;

        .card-item {
            margin: 6px 8px;
            padding: 8px 10px;
            .CardBox(222px, 120px, #F2F2F2, 8px);
            overflow: hidden;

            .card-img {
                .FlexCenter();

                img {
                    .CardBox(200px, 110px);
                }
            }

        }
    }
}

.pop-box {
    position: absolute;
    top: 0;
    left: 0;
    .FlexCenter();
    .Wh(100%);

    .pop-cover {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 0;
        .Wh(100%);
        background-color: rgba(0, 0, 0, 0.7);
        transition: all 0.3s;
    }

    .pop-content {
        position: fixed;
        z-index: 10;
        .FlexCenter();
        flex-direction: column;
        padding: 16px 12px;
        .CardBox(800px, 550px, #FFF, 12px);

        // transition: all 0.3s;
        animation: showToast 0.6s ease-in;


        @keyframes showToast {
            0% {
                .Wh(0);
                opacity: 0.3;

            }

            100% {
                .Wh(800px, 550px);
            }
        }

        .pop-main {
            text-align: center;

            .pop-main-img {
                margin-top: 8px;


                img {
                    .MaxWh(100%);
                    border: 1px dashed #66CCFF;
                    border-radius: 8px;
                }
            }

        }
    }


}